@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --cor_letra_principal: #ffffff;
    --cor_letra_secundaria: #e7661a;
    --cor_letra_terciaria: #c0c0c0;
    --cor_background: #000000;
}

body{
    background-color: var(--cor_background);
    color: var(--cor_letra_principal);
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0%; 
    padding: 0%;
}
 
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.caixa{
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.principal {
    margin: 0 6em;
}

.principal_texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.principal_img{
   margin: 1em 0 1em 0;
}

.principal_botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.principal_botao2{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
}

.principal_botao_link{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--cor_letra_principal);
    background-color: var(--cor_letra_secundaria);
    border-radius: 7px;
    width: 12em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.principal_botao_link:hover{
    background-color: var(--cor_letra_principal);
    color: var(--cor_background);
}

.principal_botao_subtitulo{
    margin-top: 0.5em;
    color: var(--cor_letra_terciaria);
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}

.caixa2{
    align-items: center;
    margin: 0 10em;
}

.imagem_monitor{
    width: 80%;
    padding: 2em;
}

.caixa2_descricao{
   align-items: left;
   font-size: 1.25rem;
}

.caixa2_descricao_titulo{
    color: var(--cor_letra_secundaria);
    font-size: 3rem;
 }

.caixa2_descricao_texto{
    margin-top: 0.1em;
    margin-bottom: 0.8em;
    color: var(--cor_letra_principal);
}

.caixa3{
    text-align: center;
}

.caixa3_titulo{  
    font-size: 3rem;
    color: var(--cor_letra_secundaria);   
}

.caixa3_subtitulo{
    color: var(--cor_letra_principal);
}

.caixa3_box{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 5em 0; 
}

.lista_item {
    font-size: 2rem;
    color: var(--cor_letra_principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape_lista {
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link a{
    text-decoration: none;
    list-style-type: none;
    color: var(--cor_letra_principal);
    margin-left: 1em;
}

.lista_link a:hover {
    color: var(--cor_letra_secundaria);
}

.lista_link a:active {
    color: var(--cor_letra_secundaria);
}

.rodape_texto {
    margin: 1em 0;
    color: var(--cor_letra_terciaria);
    font-size: 0.875rem;
}

